main {
  background-image: url("../../media/marius-christensen-tVhueFPfd1w-unsplash.jpg");
}

form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-bottom: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
  background-color: orange;
}

#height-input {
  width: 75px;
}

#position-select {
  width: 75px;
}

#age-input {
  width: 75px;
}