ul {
  margin: 0 0 16px;
  padding: 0px;
  list-style: none;
  display: flex;
  /* grid-template-columns: auto auto; */
  flex-direction: column;
  text-align: left;
  
  justify-content: space-between;
  /* gap: 15px; */

}

li {
  font-weight: bold;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
}

#delete-button {
  background-color: red;
}

#edit-button {
  background-color: orange;
}

#add-button {
  background-color: orange;
}

#game-input {
  width: 90px;
}

#points-input {
  width: 50px;
}

#rebounds-input {
  width: 50px;
}

#assists-input {
  width: 50px;
}

#steals-input {
  width: 50px;
}

#blocks-input {
  width: 50px;
}

#minutes-input {
  width: 50px;
}

#delete,
#edit {
  padding-top: 10px;
}

#add-stats-form {
  background-color: gray;
  color: lightgray;
  
}

#stats-table {
  background-color: gray;
  color: lightgray;
}


