table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#delete-team {
  background-color: red;
}

#team-name {
  font-size: larger;
  font-weight: bold;
}

#teams-idx {
  background-color: gray;
  color: lightgray;
}









