ul {
  margin: 0 0 16px;
  padding: 0px;
  list-style: none;
  display: flex;
  /* grid-template-columns: auto auto; */
  flex-direction: column;
  text-align: left;
  
  justify-content: space-between;
  /* gap: 15px; */

}

li {
  font-weight: bold;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
  
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  background-color: gray;
  color: lightgray;
}

section div:nth-child(even) {
  font-weight: bold;
}

#edit-button {
  background-color: orange;
}

#add-button {
  background-color: orange;
}

 
  


